html, body {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

/* index.html classes */

/* Navigation Bar */
.nav-bar {
  width: auto;
  height: 40px;
  background: #000;
  text-align: center;
  line-height: 40px;
  padding: 8px 16px;
}

.nav-bar a:link, a:visited {
  text-decoration: none;
  color: white;
  padding: 1.5%;
}

.nav-bar a:hover, a:active {
  background-color: #3b3e42;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  float: left;
  height: 48px;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* nav-bar: log in buttons */
.logoutbtn,.signupbtn, .loginbtn {
  max-width: 10%;
  height: 20%;
  background: #000;
  text-align: center;
  line-height: 3px;
  padding: 8px 16px;
  box-sizing: content-box;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
}
.signupbtn{
  margin-left: 1%;
  background-color: #FFC328;
  color: black;
}
.loginbtn{
  margin-right: 1%;
}
.logoutbtn{
  background-color: #EA1414;
  margin-right: 1%;
}
/*.signupbtn:hover{background-color: none;}*/
.loginbtn:hover {
  background-color: #3b3e42;
}

/* Search */
.search{
  text-align: center;
  padding: 5%;
  background-color: #d3d8e2;
}

/* css for the activities */
.activities {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.element {
  display: inline-block;
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.01%;
  margin-top: 10px;
  box-sizing: border-box;
}

.caption {
  padding: 8px 20px;
  position: absolute;
  font-size: 15px;
  color: #fff;
  background-color: #000;
}

.act-image {
  width: 100%;
  height: 100%;
}

/* css for the modal */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.agreebtn, .cancelbtn {
  padding: 14px 20px;
  float: left;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: inherit;
}

.agreebtn{
  background-color: #419B21;
}
.cancelbtn {
  background-color: #EA1414;
}

.container {
  padding: 16px;
  text-align: center;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.4);
  padding-top: 50px;
  top: 0;
  left: 0;
}

.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
  border-radius:25px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 27%;
  top: 18%;
  font-size: 40px;
  font-weight: bold;
  color: #8c8f91;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.input{
  background-color: gainsboro;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Help div */
.card-wrapper {
  text-align: center;
  padding-bottom: 1%;
}
.card-wrapper p {
  line-height: 2;
}


.card {
  display: inline-block;
  width: 31%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: white;
}

/* Filter classes */
.drop-content{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f1f1f1;
  width:12%;
}

.drop-content a{
  text-decoration: none;
  color:black;
  display: block;
  padding: 6%;
}

.drop-content a:hover, a:active {
  background-color: #3b3e42;
  color:white;
}

.show {
  display:block;
}

/* Search html and details html*/
.intro{
  padding: 1.75%;
  padding-left: 5%;
}
.event-holder{
  text-align: center;
  padding:2%;
}

.info a:link, a:visited {
  text-decoration: none;
  color: white;
}

.info a:hover, a:active {
  background-color: #3b3e42;
}

.event{
  display: inline-block;
  width: 20%;
  padding: 1%;
}

.event-image{
  width:100%;
}

.info{
  background: #000;
  color: white;
  padding: 5%;
  text-align: left;

}
.event h3, h4, p{
  margin:0;
}

.container li{
  float:inherit;
}

/*details html*/
.checked{
  color: orange;
}

.event-info{
  background-color: white;
  width: 500px;
  border: 13px solid black;
  padding: 25px;
  margin: 25px;
}

.submitBtn {
	background-color:#44c767;
	border-radius:9px;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
  max-width: 45%;
}
.submitBtn:hover {
	background-color:#5cbf2a;
}
.submitBtn:active {
	position:relative;
	top:1px;
}

/* Checkout */
.checkout div, .service  div{
  display: inline-block;
}

/*Host */
.host-field{
  border: 0px;
}

.extra-details li{
  padding-top: 1%;
  padding-bottom: 1%;
}
